

.main-content {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.main {
  padding: 3rem 0 5rem 0;
  text-align: center;
}

.main h1{
  padding-bottom: 1rem;
}

.blogs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}


.blogItem {
  padding: 2rem 1rem;
  outline: 1px solid black;
}


.blogItem a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
